body {

    background: darkslategrey;
    color: floralwhite;
}

.container {

    margin: auto;
  width: 50%;
  text-align: center;

}

#circle {
    
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;  
}

.light {
    background:yellow;
}

.dark {
    background:lightblue;
}


#square {
    background:brown;
    width: 150px;
    height: 50px;
    margin: auto;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  